@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

html {
	min-width: 500px;
}

body {
	background-color: #f7f7f7;
}

.sidenav {
	width: 15%;
	height: 100%;
	background-color: #800000;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: 0.3s;
}
.sidenav:hover {
	width: 20%;
}

.navinfo {
	position: fixed;
	width: inherit;
	height: 100px;
	background-color: #5c0000;
	color: #87ceeb;
	margin-bottom: 40px;
}

.navinfo p {
	position: fixed;
	margin: 20px;
	width: 200px;
	font-size: 130%;
}

.interest-list {
	width: 100%;
	margin-top: 100px;
	background-color: #800000;
}

.interest {
	padding: 30px;
	margin: 20px;
	cursor: pointer;
	background-color: #77c6e6;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 100%;
	transition: ease-in-out 0.3s;
	box-shadow: 5px 5px 5px #5c0000;
}

.interest:hover {
	background-color: #9bd5ec;
}

.sidenav:hover .interest {
	font-size: 130%;
}

.active {
	background-color: #b0e1f5;
	font-weight: bold;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #800000;
}

::-webkit-scrollbar-thumb {
	background: #87ceeb;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #b0e1f5;
}

.main {
	position: absolute;
	left: 200px;
	background-color: #f7f7f7;
	width: calc(100% - 250px);
	height: auto;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	transition: ease-in-out background-color 0.5s;
}

#title {
	width: 500px;
	margin: 0px auto;
	margin-top: 200px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	overflow: hidden;
}

h2.title-subheader {
	color: #800000;
	font-size: 3vh;
	margin-top: 40px;
}

h1.title-header {
	color: #87ceeb;
	font-size: 7vh;
	border-bottom: 1px solid #87ceeb;
}

.socmed-container {
	width: 100%;
	height: 50px;
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	line-height: 4;
}

.socmed-container img {
	width: 50px;
	height: 50px;
	float: left;
}

.soc-content {
	width: 90%;
	margin: 0px 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.soc-container {
	width: 40%;
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 40px 5%;
	background-color: #ffffff;
	overflow: hidden;
}

.socimg-container {
	width: 48%;
	margin: 5px 0px 5px 2%;
	height: 390px;
	float: left;
	overflow: hidden;
}

.socimg-container img {
	height: 100%;
}

.soctext-container {
	width: 50%;
	height: 390px;
	float: left;
	position: relative;
}

h1.socheader {
	padding: 10px;
	font-size: 2vw;
	border-bottom: 1px solid black;
}

p.socpara {
	padding: 15px;
}

.socbtn {
	cursor: pointer;
	position: absolute;
	bottom: -5px;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 4;
	font-weight: bold;
	font-size: 100%;
	color: #ffffff;
	background-color: #87ceeb;
}

@media only screen and (max-width: 1400px) {
	.sidenav {
		width: 20%;
	}

	.sidenav:hover {
		width: 25%;
	}

	.soc-container {
		width: 80%;
		height: 400px;
		margin: 40px 10%;
	}
}

@media only screen and (max-width: 1125px) {
	.sidenav {
		width: 25%;
	}

	.sidenav:hover {
		width: 30%;
	}

	.soc-container {
		width: 80%;
		height: 400px;
		margin: 40px 10%;
	}
}

@media only screen and (max-width: 910px) {
	.main {
		left: 0px;
		width: 100%;
		height: auto;
		margin-top: 160px;
		background-color: white;
		overflow-x: hidden;
	}

	#title {
		width: 90%;
		height: 100%;
		margin: 100px auto;
	}

	.sidenav {
		width: 100%;
		height: 160px;
		background-color: #800000;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-y: hidden;
		overflow-x: scroll;
	}

	.sidenav:hover {
		width: 100%;
	}

	.sidenav:hover .interest {
		font-size: 100%;
	}

	.navinfo {
		position: fixed;
		width: 100%;
		color: #87ceeb;
		height: 55px;
		background-color: #5c0000;
	}

	.navinfo p {
		position: fixed;
		width: 100%;
		font-size: 130%;
	}

	.interest-list {
		display: flex;
		width: 100%;
		height: 120px;
		margin-top: 40px;
		background-color: #800000;
	}

	.interest {
		float: left;
	}

	h1.socheader {
		padding: 10px;
		font-size: 4vw;
		border-bottom: 1px solid black;
	}

	p.socpara {
		padding: 15px;
	}
}
