@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.sidenav {
	width: 200px;
	height: 100%;
	background-color: #173f51;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-y: scroll;
}

.navinfo {
	position: fixed;
	width: 160px;
	background-color: #19595e;
	color: #9fdd82;
	padding: 20px;
	margin-bottom: 40px;
}

.interest-list {
	width: 180px;
	margin-top: 100px;
	background-color: #173f51;
}

.interest {
	padding: 30px;
	margin: 20px;
	cursor: pointer;
	background-color: #2b8471;
	border-radius: 10px;
	transition: ease-in-out 0.3s;
}

.interest:hover {
	background-color: #57a869;
}

.active {
	background-color: #9fdd82;
	font-weight: bold;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #173f51;
}

::-webkit-scrollbar-thumb {
	background: #9fdd82;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #57a869;
}

.main {
	position: absolute;
	left: 200px;
	width: calc(100% - 200px);
	height: 100%;
	background-color: white;
}

#title {
	width: 500px;
	margin: 350px auto;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h2.title-subheader {
	color: #173f51;
	font-size: 3vh;
	margin-top: 40px;
}

h1.title-header {
	color: #9fdd82;
	font-size: 6vh;
	border-bottom: 1px solid #9fdd82;
}

.soc-content {
	width: 90%;
	margin: 0px 5%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.soc-container {
	width: 40%;
	height: 400px;
	margin: 40px 5%;
	background-color: brown;
}

.socimg-container {
	width: 48%;
	margin: 5px 0px 5px 2%;
	height: 390px;
	background-color: cadetblue;
	float: left;
}

.soctext-container {
	width: 50%;
	float: left;
}

h1.socheader {
	padding: 10px;
	border-bottom: 1px solid black;
}

p.socpara {
	padding: 15px;
}

.socbtn {
	height: 60px;
	margin-top: 230px;
	text-align: center;
	line-height: 1em;
	font-weight: bold;
	font-size: 4em;
	color: #ffffff;
	background-color: blue;
}

@media only screen and (max-width: 1400px) {
	.soc-container {
		width: 80%;
		height: 400px;
		margin: 40px 10%;
		background-color: brown;
	}
}

@media only screen and (max-width: 800px) {
	.main {
		left: 0px;
		width: 100%;
		height: auto;
		margin-top: 160px;
		background-color: white;
		overflow-x: hidden;
	}

	.sidenav {
		width: 100%;
		height: 160px;
		background-color: #173f51;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-y: hidden;
	}

	.navinfo {
		position: fixed;
		width: 100%;
		background-color: #19595e;
		color: #9fdd82;
		padding: 20px;
	}

	.interest-list {
		display: flex;
		width: 100%;
		height: 120px;
		margin-top: 40px;
		background-color: #173f51;
	}

	.interest {
		float: left;
	}

	.interest:hover {
		background-color: #57a869;
	}

	.active {
		background-color: #9fdd82;
		font-weight: bold;
	}

	#title {
		width: 300px;
		margin: 200px auto;
	}
}
